{% extends "base.html" %}
{% load static %}

{% block title%}My Blog{% endblock%}

{% block styles %}
<link rel="stylesheet" href="{% static "blog/post.css" %}">
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block body %}
  <section id="welcome">
    <header>
      <img src="{% static "blog/images/thepixelboy.png" %}" alt="The author of this blog">
      <h2>MY BLOG</h2>
    </header>

    <p>Hi, I'm Ruben, aka The Pixelboy, and I'd like to share with you my passion for tech and the world.</p>
  </section>

  <section id="latest-posts">
    <h2>My latests thoughts</h2>

    <ul>
      {% for post in latest_posts %}
      {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>I love programming, I love to help others and I enjoy exploring new technologies in general!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  
{% endblock %}